<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Game Over</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Reenie+Beanie" rel="stylesheet">
  </head>
  <body>
    <form action = "/endgame" method= "post">
      <h1>Play Again?</h1>
      <button type = "submit" name = "play-again-button">SUBMIT</button>
    </form>
  </body>
</html>
