<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Game Over</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Reenie+Beanie" rel="stylesheet">
    <script src="https://use.fontawesome.com/ffa41e3f0d.js"></script>
  </head>
  <body>
    <div class = "wrapper">
      <p id = 'wordReveal'>Your word was: {{randomWord}} </p>
      <form action = "/endgame" method= "post">
        <h1>Play Again?</h1>
        <button type = "submit" name = "play-again-button">SUBMIT</button>
      </form>
    </div>
  </body>
</html>
