<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mystery Word</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Reenie+Beanie" rel="stylesheet">
    <script src="https://use.fontawesome.com/ffa41e3f0d.js"></script>
 </head>
  <body>
    <div class = "header">
      <strong><p id = 'lives'>Lives Remaining: {{livesRemain}}</p></strong>
    </div>
    <div class = "wrapper">
      <h1>Mystery Word
        <i class="fa fa-search" aria-hidden="true"></i>
      </h1>
      <p>Your word is: <strong>{{resultsFormat}}</strong></p>
      <p>Actual Word: {{randomWord}}</p>
        <form action = "/" method="post">
          <input type = "text" name = "guessBox" placeholder="Guess a Letter!" maxlength="1"  pattern= "[a-zA-Z]+" autofocus required></input>
          <button type = "submit" name = "submit-button"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
      <div class = "letters-guessed">
        <p>Letters Guessed: {{guessArr}} </p>
      </div>
    </div>
  </body>
</html>
