.wrapper{
  margin: 0 auto;
  border: solid 1px black;
  text-align: center;
  width: 60%;
  height: 85vh;
  background-color: #280F36;
  color: white;
}

.letters-guessed{
  margin-top: 50px;
}

h1 {
  font-family: 'Reenie Beanie', cursive;
  font-size: 80px;
}



body{
  margin: 0;
  background: radial-gradient(black, #280F36);
}

p{
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

.header, .footer{
  background-color: rgba(255, 255, 255, 0.85);
  width: 100%;
  color: black;
  padding: .5%;
  height: 5vh;
}

#lives{
  padding-left: 1%;
}
