/* displays styles for lives remain,etc. */
.header{
  background-color: transparent;
  width: 100%;
  color: white;
  margin: 10px 5px;

}

#lives {
  padding: 15px;
}

/* displays styles for game */
.wrapper{
  border: solid 1px transparent;
  text-align: center;
  width: 60%;
  height: 100vh;
  margin: 0 20%;
  background-color: black ;
  color: white;
  z-index: 1;
}

/* user guessed letters box */
.letters-guessed{
  margin-top: 50px;
}

/* text styling */
h1 {
  margin-top: 20%;
  font-family: 'Reenie Beanie', cursive;
  font-size: 80px;
}

p, span{
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

#yourWord{
  font-size: 35px;
}

/* main body styling */
body{
  margin: 0;
  background: radial-gradient(#A18992, black);
  height: 100vh;
}
